body{
    color: black;
    margin: auto;
    font-family: sans-serif;
    background: linear-gradient(-45deg, #ff8a8a, #f13e61, #5cc1e7, #f11313);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    height: 100vh;
}
@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
p{
    line-height: 1.6;
}
article + article {
    margin-top: 3rem;
    border-top: 1px solid #c5c5c5;
}

.table{
    width: 550px;
    height: 200px;
    background-color: #3e0e73;
}
.col{
    background-color: #76f594;
}
#deleteBut, #updateBut, #submitBut{
    height: 35px;
    width: 110px;
    align-items: center;
    display: inline-block;
    background-color: #f32828;
    border-radius: 10px;
    border-style: none;
    box-shadow: rgba(26, 26, 26, 0.26) 0 1px 2px inset;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: flex;
    flex-direction: row;
    flex-shrink: 0;
    font-family: "RM Neue",sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0;
    padding: 10px 21px;
    text-align: center;
    text-transform: none;
    transition: color .13s ease-in-out,background .13s ease-in-out,opacity .13s ease-in-out,box-shadow .13s ease-in-out;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}
#updateBut{
    width: 125px;
    background-color: #e88117;

}
#submitBut{
    width: 150px;
    font-size: 20px;
    margin-top: 25px;
    background-color: rgba(0, 203, 27, 0.85);
    padding-left: 40px;

}
.oddTD{
    background-color: #9b1ae7;
}
input, select {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

a{
    padding-left: 10px;
    color: red;

    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}
#allLinks {
    padding-top: 40px;
    display: inline-block;
    padding-bottom: 150px;
}
